{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "paths": {
    "/upload": {
      "post": {
        "summary": "Upload a file",
        "description": "Upload a file for schema extraction. We currently support the following file types: PDF, TXT, HTML, JPG, PNG, TIFF, JPEG",
        "operationId": "uploadFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "project_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID"
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token for authentication"
          }
        ],
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/extract": {
      "post": {
        "summary": "Create schema extraction job",
        "description": "Create a new schema extraction job for a file",
        "operationId": "createSchemaExtraction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SchemaExtractionRequest"
              }
            }
          },
          "required": true
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token for authentication"
          },
          {
            "name": "project_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID"
          }
        ],
        "responses": {
          "201": {
            "description": "Schema extraction job created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaExtractionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/extract/{extraction_id}": {
      "get": {
        "summary": "Get extraction results",
        "description": "Get the results of a schema extraction job by polling",
        "operationId": "pollResults",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token for authentication"
          },
          {
            "name": "project_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Project ID"
          },
          {
            "name": "extraction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the extraction job"
          }
        ],
        "responses": {
          "200": {
            "description": "Extraction results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractionResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FileUploadResponse": {
        "type": "object",
        "required": ["file_id"],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "ID of the uploaded file"
          }
        }
      },
      "SchemaExtractionRequest": {
        "type": "object",
        "required": ["file_id", "document_schema"],
        "properties": {
          "file_id": {
            "type": "string",
            "description": "ID of the uploaded file to process"
          },
          "document_schema": {
            "type": "object",
            "description": "Schema definition for extraction"
          }
        }
      },
      "SchemaExtractionResponse": {
        "type": "object",
        "required": ["job_id", "status", "created_at"],
        "properties": {
          "job_id": {
            "type": "string",
            "description": "ID of the created extraction job"
          },
          "status": {
            "type": "string",
            "description": "Current status of the job"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the job was created"
          }
        }
      },
      "ExtractionResult": {
        "type": "object",
        "required": ["schema_name", "extracted_data", "processing_metadata"],
        "properties": {
          "schema_name": {
            "type": "string",
            "description": "Name of the schema used for extraction"
          },
          "extracted_data": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ExtractedField"
            },
            "description": "An object containing the extracted data. Each object can either be a primitive field,  a nested object or an array of objects."
          }
        }
      },
      "ExtractedField": {
        "type": "object",
        "required": ["name", "extracted"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the extracted field"
          },
          "extracted": {
            "$ref": "#/components/schemas/ExtractedValue",
            "description": "The extracted value and its metadata"
          },
          "fields": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/ExtractedField"
            },
            "nullable": true,
            "description": "Nested fields within this field"
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/components/schemas/ExtractedField"
              }
            },
            "nullable": true,
            "description": "Array of nested fields for list-like data"
          }
        }
      },

      "ExtractedValue": {
        "type": "object",
        "required": ["value", "confidence", "source_context", "page_number"],
        "properties": {
          "value": {
            "oneOf": [
              { "$ref": "#/components/schemas/StringValue" },
              { "$ref": "#/components/schemas/IntegerValue" },
              { "$ref": "#/components/schemas/NumberValue" }
            ],
            "description": "The extracted value"
          },
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "Confidence score of the extraction"
          },
          "source_context": {
            "type": "string",
            "description": "Context of where the value was extracted from."
          },
          "page_number": {
            "type": "integer",
            "description": "Page number where the value was found."
          }
        }
      },
      "StringValue": {
        "type": "string"
      },
      "IntegerValue": {
        "type": "integer"
      },
      "NumberValue": {
        "type": "number"
      },

      "Error": {
        "type": "object",
        "required": ["detail"],
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    }
  }
}
